@font-face {
    font-family: gilroy;
    src: url(../fonts/Gilroy-Light.otf);
}
@font-face {
    font-family: notoserif-bold;
    src: url(../fonts/NotoSerif-Bold.ttf);
}
body{
    margin: 0;
}
.first-wndw-bckg{
    background-image: url(../img/main_bgc.png);
    max-width: 1920px;
    height: 950px;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    margin: 0 auto;
}
.main-logo-mobile{
    display: none;
    width: 216px;
    height: 52px;
}
.header-mobile{
    display: none;
}
.header{
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
    padding: 25px 0 0 0;
}
.header-menu-first{
    display: flex;
    max-width: 321px;
    padding: 18px 0 0 0;
}
.header-menu-item{
    font-family: "gilroy";
    font-size: 14px;
    line-height: 150%;
    color: white;
    list-style-type: none;
    margin: 0 40px 0 0;
    text-decoration: none;
}
.header-menu-item:hover{
    color: rgb(168, 158, 158);
}
.header-menu-item:active{
    fill: white;
}
.header-menu-srch:hover .header-search-logo{
    fill: rgb(158, 158, 158);
}
.svg-white{
    fill: white;
    cursor: pointer;
}
.svg-white:hover{
    fill: rgb(158, 158, 158);
}
.svg-white:active{
    fill: white;
}
.header-menu-second{
    display: flex;
    justify-content: space-between;
    width: 329px;
    padding: 18px 0 0 0;
}
.header-menu-srch{
    display: flex;
}
.header-search{
    display: flex;
}
.header_srch{
    display: flex;
}
.header-search-logo{
    margin: 0 16px 0 0;
    fill: white;
}
.header-menu-input {
    width: 18px;
    height: 18px;
    outline: none;
    background-image: url('../img/search.png');
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    background-color: #333333;
    margin: 0 16px 0 0;
}
.header-menu-input:focus {
    width: 300px;
    transition: width 1s ease-out;
    background-position: right;
    color: white;
}
.header-menu-item-label:focus{
    width: 300px;
    transition: width 1s ease-out;
    background-position: right;
}
.header-menu-item-label::-webkit-search-cancel-button{
    margin: 20px;
}
.header-nav-input{
    display: none;
}
.svg-favorite{
    margin: 0 0 0 16px;
}
.main_slogan{
    display: block;
    margin: 523px auto 50px auto;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    font-family: "notoserif-bold";
    color: white;
    letter-spacing: 0.1em;
}
.btn_catalog{
    display: block;
    margin: 0 auto;
    width: 261px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 21px;
    font-family: "gilroy";
    letter-spacing: 0.1em;
    text-align: center;
    padding: 15px 35px;
    color: white;
    border: 1px solid white;
    background-color: #333333;
}
.btn_catalog:hover{
    color: #333333;
    background-color: rgb(158, 158, 158);
}
.btn_catalog:active{
    background-color: #000000;  
    color: white;
}
.main-first-hr{
    background: white;
    border: 0;
    height: 1px;
    margin: 80px 0 30px 0;
}
.main-logo-wrapper{
    max-width: 1110px;
    display: flex;
    margin: 0 auto;
}
.main-logo-img{
    border-right: 1px solid white;
    padding: 0 15px 0 15px;
}
.main-logo-img:last-of-type{
    border: none;
    padding: 0 0 0 15px;
}
.main-logo-img:first-of-type{
    padding: 0 15px 0 0;
}
.products{
    max-width: 1110px;
    margin: 0 auto;
}
.products-header-small{
    margin: 100px auto 15px auto;
}
.products-nav-input{
    display: none;
}
.second-header{
    display: block;
    font-size: 21px;
    line-height: 140%;
    font-family: "gilroy";
    text-align: center;
}
.products-header-big{
    margin: 0 0 60px 0;
}
.main-header{
    display: block;
    font-size: 30px;
    color: black;
    line-height: 41px;
    font-family: "notoserif-bold";
    text-align: center;
}
.products-type{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
}
.products-type-item{
    list-style-type: none;
    padding: 17px 0 17px 0;
    width: 165px;
    border: 1px solid #d6d6d6;
    text-align: center;
    position: relative;
    background-color: white;
}
.products-type-item-border{
    border: 1px solid #d6d6d6;
    width: 100%;
    height: 55px;
    z-index: -1;
    position: absolute;
    top: 6px;
    left: 6px;
}
.products-type-item:hover{
    background-color: black;
    color: white;
}
.products-type-item:active{
    background-color: white;
    color: black;
}
.products-type-item:hover .products-type-item-border{
    display: none;
}
.products-carts{
    margin: 55px auto 120px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-items: space-between;
}
.products-carts-item{
    width: 350px;
    height: 280px;
    margin: 0 0 30px 0;
    background-repeat: no-repeat;
    background-position: center;
}
.products-carts-item:hover .cart-name{
    color: rgb(168, 168, 168);
} 
.products-carts-item:active .cart-name{
    color: white;
}
.products-carts-item:nth-of-type(n+3){
    margin: 0;
}
.products-nav-icon{
    display: none;
}
.item-rings{
    background-image: url(../img/rings.png);

}
.item-rings:hover{
    background:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
                url(../img/rings.png);
                background-repeat: no-repeat;
                background-position: center;
}
.item-earrings{
    background-image: url(../img/earrings.png);

}
.item-earrings:hover{
    background:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
                url(../img/earrings.png);
                background-repeat: no-repeat;
                background-position: center;
}
.item-suspensions{
    background-image: url(../img/suspensions.png);

}
.item-suspensions:hover{
    background:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
                url(../img/suspensions.png);
                background-repeat: no-repeat;
                background-position: center;
}
.item-studs{
    background-image: url(../img/studs.png);
}
.item-studs:hover{
    background:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
                url(../img/studs.png);
                background-repeat: no-repeat;
                background-position: center;
}
.item-bracelet{
    background-image: url(../img/bracelet.png);
}
.item-bracelet:hover{
    background:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
                url(../img/bracelet.png);
                background-repeat: no-repeat;
                background-position: center;
}
.item-clock{
    background-image: url(../img/clock.png);
}
.item-clock:hover{
    background:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
                url(../img/clock.png);
                background-repeat: no-repeat;
                background-position: center;
}
.cart-name{
    font-family: "gilroy";
    line-height: 28px;
    font-size: 24px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: white;
    text-align: center;
    display: block;
    margin-top: 222px;
}
.salons{
    max-width: 1920px;
    background-image: url(../img/bckg-our-salon.png);

    padding: 100px 0 100px 0;
    margin: 0 auto;
}
.salons-info{
    max-width: 730px;
    font-family: "gilroy";
    font-size: 21px;
    line-height: 140%;
    text-align: center;
    margin: 0 auto;
    color: white;
}
.second-header-white{
    display: block;
    font-family: "gilroy";
    font-size: 21px;
    line-height: 140%;
    text-align: center;
    margin: 0 auto;
    color: white;
    text-align: center;
}
.first-header-white{
    display: block;
    margin: 15px auto 45px auto;
    font-size: 30px;
    line-height: 41px;
    font-family: "notoserif-bold";
    color: white;
    text-align: center;

}
.salons-txt{
    display: block;
    font-size: 18px;
    hyphens: auto;
}
.salons-btn{
    margin: 60px auto 0 auto;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.1em;
    background-color: white;
    color: black;
    padding: 15px 35px;
    border: 1px solid #aaaaaa;
    width: 224px;
    display: block;
}
.salons-btn:hover{
    color: white;
    background-color: black;
}
.salons-btn:active{
    color: black;
    background-color:white
}
.blog{
    max-width: 1110px;
    padding: 120px 0 0 0;
    margin: 0 auto;
}
.blog-header{
    margin: 15px auto 60px auto;
}
.blog-cards{
    display: flex;
    justify-content: space-between;
}
.blog-card-item{
    width: 350px;
    height: 370px;
    cursor: pointer;
}
.blog-card-item:hover .blog-card-item-txt{ 
    color: rgb(168, 168, 168);
}
.blog-card-item:active .blog-card-item-txt{ 
    color: white;
}
.blog-card-item-first{
    background-image: url(../img/clock-wife.png);
    background-color: black;
}
.blog-card-item-first:hover{
    background:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
                url(../img/clock-wife.png);
}
.blog-card-item-second{
    background-image: url(../img/husb-studs.png);
}
.blog-card-item-second:hover{
    background:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
                url(../img/husb-studs.png);
}
.blog-card-item-third{
    background-image: url(../img/wedding-rings.png);
}
.blog-card-item-third:hover{
    background:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
                url(../img/wedding-rings.png);
}
.blog-card-item-txt{
    font-family: "gilroy";
    font-size: 21px;
    line-height: 140%;
    text-align: center;
    margin: 248px auto 0 auto;
    display: block;
    color: white;
}
.blog-card-item-txt{
    
}
.blog-btn{
    margin: 60px auto 0 auto;
}
.media{
   max-width: 1110px;
    margin: 120px auto 150px auto;
}
.media-main{
    margin: 15px 0 60px 0;
}
.media-collage{
    max-width: 1110px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}
.media-video{
    width: 555px;
}
.media-video[poster]{
    object-fit: cover;
}

.media-photo1{
    width: 278px;
}
.media-photo1:hover{
    filter: brightness(40%);
}
.media-photo2{
    width: 277px;
}
.media-photo2:hover{
    filter: brightness(40%);
}

.footer-up{
    max-width: 1920px;
    background-image: url(../img/bckg-our-salon.png);
    background-repeat: no-repeat;
    padding: 100px 0 120px 0;
    margin: 0 auto;

}
.footer-up-info{
   max-width: 1110px;
    margin: 0 auto;
}
.footer-up-info-block{
    width: 773px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.footer-up-menu{
    width: 245px;
}
.footer-up-menu-item{
    list-style-type: none;
    color: white;
    display: block;
    position: relative;
    font-family: "gilroy";
    font-size: 18px;
    cursor: pointer;
    stroke:white;
}
.footer-up-menu-item:nth-of-type(2){
    margin: 15px 0;
}
.footer-up-menu-item-style{
    position: absolute;
    left: -40px;
}
.footer-up-menu-item:hover{
    color: rgb(158, 158, 158);
    stroke: rgb(158, 158, 158);
}  
.footer-up-menu-item:active{
    color: white;
    stroke: white;
}
.footer-up-form{
    width: 448px;
    border: 1px solid #ffffff;
    padding: 15px;
    box-sizing: border-box;
}
.footer-up-form-email{
    padding: 15px 14px 14px 20px;
    border: 1px solid #D6D6D6;
}
.footer-up-form-email::placeholder{
    font-family: "gilroy";
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transform: translateX(-30px);
    color: #D6D6D6;
}
.footer-up-form-wrapper{
    width: 418px;
    padding: 20px 22px;
    background-color: white;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    justify-content: space-between;
}
.footer-up-form-btn{
    width: 159px;
    padding: 14.5px 35px;
    box-sizing: border-box;
    margin: 0;
    font-size: 14px;
    line-height: 16.5px;
}
.footer-down-wrapper{
    max-width: 1110px;
    padding: 80px 0 20px 0;
    margin: 0 auto;
}
.footer-down-up{
    display: flex;
    margin: 0 0 60px 0;
}
.footer-down-blocks{
    margin: 0 0 0 30px;
    width: 255px;
}
.footer-down-blocks:first-of-type{
    margin: 0;
}
.footer-down-labels{
    font-family: "gilroy";
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.1em;
    color: #333333;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #333333;
    margin: 0 0 30px 0;
    display: block;
    text-transform: uppercase;
}
.links{
    padding: 0;
}
.links-item{
    text-decoration: none;
    display: block;
    margin: 15px 0 0 0;
    font-family: "gilroy";
    font-size: 14px;
    line-height: 150%;
    color: #333333;   
}
.links-item:hover{
    color: rgb(158, 158, 158);
}
.links-item:active{
    color: #333333;
}
.links-item:first-of-type{
    margin: 30px 0 0 0;
}
.payment-txt{
    display: block;
    margin: 30px 0 21px 0;
    font-family: "gilroy";
    font-size: 14px;
    line-height: 150%;
    text-align: justify;
}
.card{
    margin: 0 20px 0 0;
}
.contacts-info-wrapper{
    display: flex;
    margin: 0 0 15px 0;
}
.contacts-info{
    margin: 0 0 0 20px;
    display: block;
    font-family: "gilroy";
    font-size: 14px;
    line-height: 150%;
    text-align: justify;
}
.mail-svg{
    margin: 5px 0 0 0;
}
.media-txt{
    font-family: "gilroy";
    font-size: 14px;
    line-height: 150%;
    text-align: justify;
}
.media-sprite{
    display: flex;
}
.media-sprite-item{
    margin: 0 28px 0 0;
}
.media-sprite-item:last-of-type{
    margin: 0;
}
.svg{
    fill: #333333;
}
.svg:hover{
    fill: rgb(158, 158, 158);
}
.svg:active{
    fill: #333333;
}
.footer-down-down{
    border-top: 1px solid #333333;
    display: flex;
    justify-content: space-between;
}
.footer-down-down-link{
    margin:20px 0;
    text-decoration: none;
    font-family: "gilroy";
    font-size: 14px;
    line-height: 150%;
    color: #333333;
}
.footer-down-down-link:hover{
    color: rgb(158, 158, 158);
}
.footer-down-down-link:active{
    color: #333333;
}




@media (max-width: 1120px){ 
    .first-wndw-bckg{
        height: 650px;
    }
    .main_slogan{
        margin: 60px auto 50px auto;
    }
    .main-logo-wrapper{
        max-width: 560px;
        display: flex;
        flex-wrap: wrap;
        justify-items: center;

    }
    .main-logo-img:nth-of-type(4){
        padding: 0 15px 0 0;
    }
    .main-logo-img:last-of-type{
        padding: 0 15px 0 15px;
        border-right: 1px solid white;
    }
    .header{
        padding: 20px 100px 0 100px;
        justify-content: space-between;
        height: 175px;
    }
    .header-menu-first{
        display: none;
    }
    .header-menu-second{
        display: none;
    }
    .header-nav-icon{
        width: 100%;
        background-color: white;
        display: block;
        height: 4px;
        margin: 20px 10px 0 0;
        left: 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        width: 23px;
        position: relative;
    }
    .header-nav-icon::after{
        content: "";
        width: 100%;
        background-color: white;
        display: block;
        height: 4px;
        margin-top: -8.5px;
        width: 33px;
        position: absolute;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .header-nav-icon::before{
        content: "";
        width: 100%;
        background-color: white;
        display: block;
        height: 4px;
        margin-top: 8.5px;
        width: 33px;
        position: absolute;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .header-menu-mobile {
        visibility: hidden;
        margin: 0 auto;
        width: 100%;
        height: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .header-nav-input:checked ~ .header-menu-mobile{
        visibility: visible;
        height: auto;
    }
    .header-nav-input:checked ~ .header-nav-label > span{
        transform:rotate(45deg);
        width: 40px;
        margin: 25px 0 0 -20px;
        transition-duration: 0.3s;
    }
    .header-nav-input:checked ~ .header-nav-label > span::after{
        transform: rotate(90deg);
        width: 40px;
        position: absolute;
        top: 7px;
        left: 0px;
    }
    .header-nav-input:checked ~ .header-nav-label > span::before{
        display: none;
    }
    .header-mobile{
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
    }
    .header-menu-mobile{
        flex-direction: column;
        display: flex;
    }
    .main-logo{
        display: none;
    }
    .main-logo-mobile{
        display: block;
    }
    .login-mobile-icons{
        display: block;
    }
    .menu-item-mobile{
        margin: 10px 0 0 0;
    }
    .menu-item-mobile:last-of-type{
        margin: 10px 0 10px 0;
    }
    .products{
        max-width: 560px;
    }
    .products-type{
        flex-wrap: wrap;
        align-content: space-between;
        height: 130px;
    }
    .products-carts-item{
        width: 250px;
    }
    .products-carts-item:nth-of-type(n+3){
        margin: 0 0 30px 0;
    }
    .blog-card-item{
        width: 32%;
        background-position:center ;
    }
    .media{
        margin: 120px auto 25px auto;
    }
    .media-collage{
        justify-content: center;
    }
    .footer-up{
        padding: 20px 0 40px 0;
    }
    .footer-up-info-block{
        max-width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer-down-wrapper{
        padding: 40px 0 20px 0;
    }
    .footer-down-up{
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: space-between;
        padding: 20px 20px 0 20px;
        height: 430px;
    }
    .footer-down-blocks{
        margin: 0;
    }
    .footer-down-down{
        padding: 0 20px;
        flex-wrap: wrap;
    }
    
}
@media (max-width: 732px){ 
    .footer-down-wrapper{
    padding: 0;
    }
}
@media (max-width: 599px){ 
    .header{
        padding: 20px 30px 0 30px;
    }
    .blog-card-item-txt{
        margin: 186px auto 0 auto;
    }
    .main-first-hr{
        display: none;
    }
    .main-logo-wrapper{
        display: none;
    }
}

@media (max-width: 549px){ 
    .products-carts{
        justify-content: center;
    }
    .footer-down-up{
        height: 100%;
        padding: 20px 20px 0 20px;
        justify-content: center;    
    }
    .footer-down-blocks{
        margin: 20px 0 0 0;
    }
    .media-video{
        width: 100%;
    }
    .footer-up-form{
        border: none;
        max-width: 300px;
    }
    .footer-up-form-wrapper{
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
    }
    .footer-up-form-btn{
        margin: 5px 0 0 0;
    }

}
@media (max-width: 376px){ 
    .header{
        padding: 20px;
    }
    .main-logo-mobile{
        width: 155px;
    }
    .btn_catalog{
        width: 191px;
    }
    .main-logo-wrapper{
        display: none;
    }
    .first-wndw-bckg{
        height: 605px;
    }
    .products{
        max-width: 300px;
    }

    .products-type{
        visibility: hidden;
        height: 15px;
        justify-content: center;
    }
    .products-nav-input:checked ~ .products-type{
        visibility: visible;

    }
    .header-nav-input:checked ~ .header-nav-label > span::before{
        display: none;
    }
    .products-type-item-border{
        display: none;
    }
    .products-nav-icon{
        display: block;
        position: relative;
        text-align: center;
    }
    .products-nav-icon-arrow{
        width: 10px;
        position: absolute;
        top: 2px;
        left: 100px;
        transform: rotate(90deg);
    }
    .products-carts{
        justify-content: center;
        margin: 0 auto;
    }
    .footer-down-up{
        height: 100%;
    }
    .footer-down-blocks{
        margin: 20px 0 0 0;
    }



}