*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    background-color: rgb(99, 193, 243);
    height: auto;
}
header>span{
    display: block;
    padding: 4px 0 0 0;
    color: white;

}
.goods-list{
    display: grid;
    grid-gap: 45px 15px;
    grid-template-columns: repeat(auto-fill, minmax(max(150px), 1fr));
    grid-auto-columns: auto;
}
.good-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.count-btn{
    background-color: transparent;
}
.good-picture{
    width: 150px;
    height: 150px;
}
.count-items{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-gap: 0 5px;
    text-align: center;
}
.count-items span{
    font-size: 20px;
}
.count-btn{
    padding: 0;
    border: 0;
}
.cart{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}
.cart-list{
    display: none;
    flex-wrap: wrap;
    width: 100%;
}
.btn{
    background-color: blue;
    padding: 5px;
    border: none;
    color: white;
    border-radius: 7px ;
    -webkit-border-radius: 7px ;
    -moz-border-radius: 7px ;
    -ms-border-radius: 7px ;
    -o-border-radius: 7px ;
}
.cart-show-btn{
    position: absolute;
    right:  10px;
    top: 14px;

}
.cart-list.shown{
    height: 155px;
}
.shown{
    display: flex;

}
.good-item-list{
    display: flex;

}
.basket-manag{
    width: 100%;
    display: flex;

    align-self: end;
    justify-content: end;
}
.clean-btn{
    width: 90px;
}
.good-item-basket{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.total-coast-items-basket{
    margin: 0 100px 0 0;
    display: block;
}
.more-btn-place{
    display: flex;
    align-items: center;
}
.more-btn{
    background-color: aqua;
    align-self: center;
    padding: 0;
    height: auto;
    border: 1px solid black;
    width: 59px;

}