*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    background-color: blue;
    height: auto;
}
header>span{
    display: block;
    padding: 4px 0 0 0;
    color: white;

}
.goods-list{
    display: grid;
    grid-gap: 35px 45px;
    grid-template-columns: repeat(auto-fill, minmax(max(150px), 1fr));
    grid-auto-columns: auto;
}
@media (max-width: 1280px) {
    .goods-list{
        grid-gap: 15px 15px;
    }
}
.good-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(232, 232, 232);
    padding: 10px;
}
.count-btn{
    cursor: pointer;
    background-color: transparent;
}
.good-item-basket>.count-items-basket>.count-btn{
    color: white;
}
.good-picture{
    width: 150px;
    height: 150px;
}

.count-items{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-gap: 0 5px;
    text-align: center;
}
.count-items span{
    font-size: 20px;
}
.count-btn{
    padding: 0;
    border: 0;
}
.cart{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}
.cart-list{
    display: none;
    flex-wrap: wrap;
    width: 100%;
}
.basket-btn:active{
    background-color: green;
}
.btn{
    background-color: rgb(82, 82, 232);
    padding: 5px;
    border: none;
    color: white;
    border-radius: 7px ;
    -webkit-border-radius: 7px ;
    -moz-border-radius: 7px ;
    -ms-border-radius: 7px ;
    -o-border-radius: 7px ;
    cursor: pointer;
}

.delete-item-btn{
    background-color: rgb(2, 2, 98);
    margin: 10px 0 0 0;
}
.delete-item-btn:active{
    background-color: red;
}
.cart-show-btn{
    position: absolute;
    right:  15px;
    top: 14px;


}
.cart-list.shown{
    height: 205px;
    padding-right: 7px;
}
.shown{
    display: flex;

}
.good-item-list{
    display: flex;

}
.basket-manag{
    width: 100%;
    display: flex;
    margin: 0 0 10px 0;
    align-self: end;
    justify-content: end;
}
.clean-btn{
    width: 90px;
}
.clean-btn:active{
    background-color: red;
}
.good-item-basket{
    color: white;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.total-coast-items-basket{
    margin: 0 100px 0 0;
    display: block;
    color: white;
}
.more-btn-place{
    display: flex;
    align-items: center;
}
.more-btn{
    align-self: center;
    padding: 0;
    height: auto;
    width: 59px;

}